In [1]:
import time
import datetime
import pandas as pd

In [2]:
# 타임스탬프 -> 시간으로 변환
now = '1442154124'
date = datetime.datetime.fromtimestamp(int(now)).strftime('%Y-%m-%d %H:%M:%S')
date

'2015-09-13 23:22:04'

In [3]:
# 시간 -> 타임스탬프로 변환
date_str = datetime.datetime.strptime(date, '%Y-%m-%d %H:%M:%S')
timestamp = time.mktime(date_str.timetuple())
timestamp

1442154124.0

In [4]:
dt = pd.date_range('1/1/2011', periods=5, freq='M')
df = pd.DataFrame(dt)
df

           0
0 2011-01-31
1 2011-02-28
2 2011-03-31
3 2011-04-30
4 2011-05-31

In [5]:
date_str = [datetime.datetime.strptime(str(i), '%Y-%m-%d %H:%M:%S') for i in df[0]]
timestamp = [time.mktime(i.timetuple()) for i in date_str]
timestamp

[1296399600.0, 1298818800.0, 1301497200.0, 1304089200.0, 1306767600.0]

In [6]:
df['timestamp'] = timestamp
df

           0     timestamp
0 2011-01-31  1.296400e+09
1 2011-02-28  1.298819e+09
2 2011-03-31  1.301497e+09
3 2011-04-30  1.304089e+09
4 2011-05-31  1.306768e+09